<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout1">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>
    <div class="p-3" layout:fragment="content">
        <form class="d-flex" role="search" method="GET" th:action="@{/user/findProduct}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <div class="p-3" sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>
        </div>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                <tr th:each="p:${productList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <form th:action="@{/admin/delete(id=${p.id})}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <form th:action="@{/admin/editProduct(id=${p.id})}" method="POST">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>